body{
    background:rgb(222, 186, 255);
    letter-spacing: 0.2em;
    font-size: 0.8em;
}
.container{
    max-width: 400px;
}
.icon{
    background:rgb(250, 248, 248);
    position: relative;
    top: -50px;
    border-radius: 50%;
    width: 100px;
    margin-bottom: -50px;
    /* border-color: black;
    border-width: 2; */
  }
.cityinput{
    margin-top: 7;
    border-color: black;
}